<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="head :: head">
   
</head>
<body>

	 <link rel="stylesheet" href="/css/header.css">

	<header th:insert="head :: header-fixo"></header>

	 <div style="text-align: center;" class="alert alert-warning alert-dismissible fade show" role="alert">
		 <strong >Seja Bem Vindo <span th:text="${session.usuarioLogado.nome}"></span></strong>
		 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			 <span aria-hidden="true">&times;</span>
		 </button>
	 </div>
	 
	  <div class="alert alert-danger" role="alert" style="text-align: center"
               th:text="${messageok}" th:if="${messagok == null}"></div>

	<div th:align="center">
		<img src="/img/logo.png" alt="Image01" />
	</div>

	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			 integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			 crossorigin="anonymous"></script>
</body>
</html>